[Unit]
Description=WFB-ng FL client role
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/default/wfb-fl-client
ExecStart=/usr/bin/wfb-fl-client --config=/etc/wfb-ng/fl-client.json --algorithm=${ALGORITHM} --algorithm-config=${ALGORITHM_CONFIG}
KillMode=control-group
TimeoutStopSec=15s
Restart=on-failure
RestartSec=5s
StandardError=inherit

[Install]
WantedBy=multi-user.target
